# 1. تجاهل كل الملفات كقاعدة أساسية
*

# 2. السماح بملفات الأكواد في المجلد الرئيسي
!*.py
!*.c
!README.md
!.gitignore

# 3. السماح لـ Git بالدخول للمجلدات المطلوبة فقط
!Passwords/
Passwords/*
!Passwords/Common-Credentials/
Passwords/Common-Credentials/*

# 4. السماح فقط لملف all.txt وملفات الهاش الخاصة به بالرفع
!Passwords/Common-Credentials/all*.txt
